/* Banner */

.banner {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.banner-title {
  color: var(--wings-black, #110f0b);
  text-align: left;
  font: 500 62px "Geologica", sans-serif;
  position: absolute;
  top: 391px;
  left: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  opacity: 0;
  transform: translateY(20px);
  animation: slideInTitle 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
}

@keyframes slideInTitle {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.get-in-touch-button {
  border-radius: 26px;
  border: 1px solid var(--wings-black, #110f0b);
  position: absolute;
  top: 570px;
  left: 48px;
  color: var(--wings-black, #110f0b);
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125.303%;
  text-transform: uppercase;
  padding: 8px 16px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInButton 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
  animation-delay: 0.8s;
  transition: background-color 0.3s ease-in-out;
}

.get-in-touch-button:hover {
  background-color: #110f0b;
  color: #ffffff;
}

.get-in-touch-button:hover .ri-arrow-right-up-line {
  background-color: #110f0b;
  color: #ffffff;
}

@keyframes fadeInButton {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.background-image {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: 600px;
  margin-right: 80px;
  opacity: 0;
  transform: translateX(100px);
  animation: fadeInImage 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) forwards;
  animation-delay: 0.4s;
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

